#produto-visualizar {
  padding: 152px 30px 30px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  box-shadow: none;
  width: calc(100vw - 60px);

  #carrossel {
    min-width: 400px;
    min-height: 600px;
    width: 28.25vw;
    height: 34.25vw;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

  .nome,
  .categoria {
    color: #684328;
  }

  .nome {
    margin-top: 0;
  }

  .infos {
    display: flex;
    flex-direction: column;
    background-color: #e6dbcf14;
    width: 400px;
    height: 450px;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccbaa7;
    border: 1px solid #ccbaa7;
  }

  .infoprod {
    display: flex;
    flex-direction: column;
  }

  .tamanhos {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.tamanho:hover , .cor:hover{
  font-size: 1.0em;
  cursor: pointer;
  transition: 0.3s;
}

  .tamanhos-div {
    display: flex;
    flex-direction: row;
  }


  .tamanho {
    display: flex;
    height: 25px;
    width: 30px;
    background-color: #d3b28c;
    border-radius: 5px;
    padding: 2px;
    margin: 4px;
    color: white;
    align-items: center;
    justify-content: center;
  }

  .cor {
    display: flex;
    height: 25px;
    width: 80px;
    background-color: #d3b28c;
    border-radius: 5px;
    margin: 4px;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .cores {
    margin-bottom: 2%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .preco {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: flex-start;
  }

  .dados {
    margin-left: 3px;
    font-size: 32px;
  }

  .desc {
    margin: 0;
  }

  .descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2%;
  }

  .swiper {
    display: flex;

    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding: 0;
    height: 100%;
    border-radius: 20px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 860px) {
  #produto-visualizar {
    flex-direction: column;
    width: 98vw;
    

    .nome{
        display: none;
    }

    .categoria{
        display: none;
    }

    .infos{
        width: 80vw;
        margin-top: 20px;
    }
  }
}
