
.Background{
    background-image: url("../../../images/image 16.png");
    height: 325px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.formhed{
    height: 15px;
    width: 300px;
    display: flex;
    justify-content: right;
}

input{
    height: 15px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    color: #CCBAA7;
}

form input{
    display: flex;
}

.input-icon {
    background-image: url('../../../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: contain;
  }

.hh1{
    display: grid;
    color: white;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    align-self: center;
}

p{
    display: flex;
}

.linha{
    height: 3px;
    width: 90%;
    align-self: center;
    background-color: white;
    margin: 8px;

}
.marcafiltro{
    height:10px;
    background-color: white;
    width: 800px;
    border-radius: 20px;
    align-self: center;
}

.teste{
    display: flex; 
    justify-content: right;
}