#formulario-produto-div{

.body-cad{
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

.card-container {
    border: 1px solid #ddd;
    padding: 40px;
    width: 75%;
    box-shadow: 0 0 10px #ddd;
    justify-content: center;
}

.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
}

.pat2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.dois{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotos{
    display: none;
}

.upload{
    display: flex;
    background-color: #CCBAA7;
    border: 2px #BB9161 solid;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload img{
    height: 50px;
    width: 50px;
}

.parte1 input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    color: black;
    background-color: #E8D5C1;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;
    outline: 0;
}

.gen{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    color: black;
    background-color: #E8D5C1;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;
    outline: 0;
    
}

#desc{
    height: 200px;
    width: 700px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #E8D5C1;
    border-radius: 5px;
    border: 2px solid #BB9161;
    outline: 0;
}

button {
    padding: 10px 20px;
    background-color: #9C7D61;
    color: white;
    border: none;
    cursor: pointer;
}
   
button:hover {
    background-color: #68584a;
}

.tres, .um{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

}


