.body-cad{
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

.ptcima{
    display: flex;
    justify-content: space-evenly;
}

.pat1{
    flex-direction: column;
}

.titu{
    color: #684328;
    display: flex;
    justify-content: center;
}

#fotos{
    display: none;
}

.upload{
    display: flex;
    background-color: #CCBAA7;
    border: 2px #BB9161 solid;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload img{
    height: 50px;
    width: 50px;
}

.pat1 label,.pat3 label{
    font-weight: bold;
    color: #553721;
}

.pat1 input{
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    color: black;
    background-color: #E8D5C1;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;

    outline: 0;
}

.pat3{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.desc{
    display: flex;
    height: 200px;
    width: 900px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #E8D5C1;
    border-radius: 5px;
    border: 2px solid #BB9161;
    outline: 0;
}

button {
    padding: 10px 20px;
    background-color: #9C7D61;
    color: white;
    border: none;
    cursor: pointer;
}
   
button:hover {
    background-color: #68584a;
}
